---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Curated collection">
	<div class="flex flex-col gap-20 justify-between">
		<div>
			<h1 class="mb-6 max-w-5xl text-6xl">
				Curated collection of 200+ AI services that will make your life easier
				and definitely surprise you
			</h1>
			<a
				href="/text"
				class="px-8 py-4 w-fit hover:bg-purple-600 transition bg-purple-500 text-white font-bold inline-block rounded-md text-2xl"
				>Discover Magic Tools</a
			>
		</div>
	</div>
</Layout>
