---
const { title, link } = Astro.props;
---

<a
  href=`/${link}`
  class="text-red-500 hover:opacity-70 transition mb-8 inline-flex gap-2 items-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-5 h-5"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M15.75 19.5L8.25 12l7.5-7.5"></path>
  </svg>
  All {title}
</a>
