---
const { title, link } = Astro.props;
---

<a
  href={link}
  class="flex gap-2 capitalize shadow-xl items-center bg-slate-800 hover:bg-red-500 group transition px-4 py-2 rounded-lg self-start text-white"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    class="h-5 w-5 group-hover:rotate-180 transition duration-300"
    viewBox="0 0 24 24"
    stroke-width="2.5"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"
    ></path>
  </svg>
  {title}
</a>
