---
const { url, title, description } = Astro.props;
---

<a
	href={url}
	class="flex group lg:aspect-[2/1] relative flex-col hover:bg-[#392576] transition justify-between items-start bg-amber-500/70 text-white p-6 text-2xl leading-relaxed rounded-3xl"
>
	<div class="grow w-full flex justify-between flex-col">
		<img
			src="https://via.placeholder.com/250"
			alt=""
			class="rounded-lg aspect-video mb-8"
		/>
		<h3 class="font-black tracking-tight text-2xl xl:text-3xl mb-2">{title}</h3>
		<p class="text-lg xl:text-xl text-white/80 mb-4">
			{description}
		</p>
	</div>
</a>
