---
const { url, class: className, name } = Astro.props;
---

<div
	class=`${className} group flex flex-col bg-slate-800 shadow-2xl duration-300 hover:-translate-y-4 text-white overflow-hidden transition rounded-xl`
>
	<div class="p-10">
		<a
			href={url}
			class="tracking-tight font-serif text-2xl xl:text-4xl hover:opacity-80 transition"
		>
			<h3 class="hover:opacity-80 mb-4">
				{name}
			</h3>
		</a>
	</div>
	<a
		href={url}
		class="inline-flex tracking-wider text-base font-bold gap-2 items-center mt-auto py-8 rounded-b-xl px-8 group-hover:text-white uppercase group-hover:bg-red-500 transition bg-slate-900"
	>
		Details

		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			class="w-8 h-8 transition duration-300 group-hover:translate-x-4"
			stroke-width="1.5"
			stroke="currentColor"
			aria-hidden="true"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
		</svg>
	</a>
</div>
