---
const { url, authors, cover, title } = Astro.props;
---

<a href={url} class="group">
	<img
		src=`/podcasts/${cover}.jpg`
		alt=""
		class="rounded-md group-hover:-translate-y-4 transition duration-300 mb-8"
	/>

	<h3
		class="tracking-tight group-hover:text-red-500 transition font-medium text-2xl xl:text-3xl mb-2"
	>
		{title}
	</h3>
</a>
