---
import Button from "./Button.astro";
import Title from "./Title.astro";
import Link from "./Link.astro";

const { backButton, title } = Astro.props;
---

<div
  class="mb-12 border-b border-indigo-300/30 pb-10 flex lg:gap-10 flex-col lg:flex-row justify-between"
>
  <div>
    {
      backButton && (
        <Link
          title={backButton}
          back
          class="text-4xl sm:text-5xl lg:text-7xl"
        />
      )
    }
    <Title type="h1">
      {title}
    </Title>
  </div>
  <Button title="Add new" link="" size="medium" />
</div>
