---
const { tag, path } = Astro.props;
---

<a
  href={path}
  class="bg-indigo-100/40 hover:bg-indigo-200/40 transition capitalize text-2xl text-blue-800 px-6 py-2 rounded-md inline-block"
>
  {tag}
</a>
